
:root {
  --backgrown_footer: black;
  --textos:white;
  --titulos_secundarios:#38fff3;
  --textos_fondos_titulos_botones:#ffcc04;
  --fondo_principal: url("../img/Fondo.png");
  --fondo_principal_Movil:  url("../img/pruebamarca.gif");
  
}

.fondo_principal{
    background-image: var(--fondo_principal);/* ../img/pruebamarca.gif movil */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
.imgLogo{
  width: 3rem; 
  height: 3rem;
}

footer{
  background-color: var(--backgrown_footer);
  color:var(--textos);
}

.navbar.navbar-expand-lg.bg-body-tertiary.fixed-top {
    background: transparent !important;
  }

  ul a {
    color: var(--titulos_secundarios) !important;
    font-size: x-large;
  }

  .btn {
    border-radius: 50px;
    color: var(--textos_fondos_titulos_botones);
    background-color: black !important;
    border-color: var(--textos_fondos_titulos_botones) !important;
  }
  .btn:hover {
    color: var(--textos);
    background-color: var(--textos_fondos_titulos_botones) !important;
    border-color: var(--textos) !important;
  }

  .card {
    background: transparent !important;
    border-color: var(--textos_fondos_titulos_botones);
  }
  .card-title {
    color: var(--textos_fondos_titulos_botones)!important;
    font-size: x-large;
}

 .card-body {
    color: var(--textos);
    font-size: x-large;
 }
 .centrar_carrousel {
    margin: auto !important;
  }

.colorServicios{
    color: var(--titulos_secundarios)!important;
    font-size: x-large;
}


.row.mx-md-5.my-md-5 li {
    background: transparent;
    color: var(--textos_fondos_titulos_botones);
    border: var(--textos);
  }

  @media (max-width: 900px) {

    .fondo_principal{
        background-image:var(--fondo_principal_Movil);/* ../img/pruebamarca.gif movil */
        background-attachment:fixed;
       /* Do not repeat the image */
        background-size: initial;
       background-position: 25%;
    }


    .centrar_carrousel {
        margin-left: 4vh !important;
      }

    .row img {
        width: 12rem;
      }


      .navbar-toggler {
        background-color: var(--textos_fondos_titulos_botones);
      }

      .offcanvas-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
        background: black !important;
        opacity: 0.9;
        color:var(--textos);
      }
      .offcanvas-body {
        background: black;
      }

      .btn-close {
        background: var(--textos) var(--bs-btn-close-bg) center/1em auto no-repeat;
      }

      .offcanvas-body {
        font-size: xx-large;
      }

      .card-text {
        color: var(--textos);
        font-size: x-large;
      }
h2{
  font-size: xx-large !important;
}
h5{
  font-size: x-large;
}

.terminosycondiciones{
  color: var(--textos) !important;
  font-size: x-large !important; 
}

}